body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header, footer {
    text-align: center;
    padding: 20px;
    background-color: #282c34;
    color: white;
}

header h2, footer p {
    margin: 0;
}

#assessment-info {
    padding: 20px;
    text-align: center;
    background-color: #e2e2e2;
}

#questions-section {
    padding: 20px;
    display: flex;
    justify-content: center;
}

#questions-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.inner-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background-color: #fdfdfd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
}

h4 {
    margin-top: 0;
}

h5 {
    margin-bottom: 5px;
}

ul, ol {
    padding-left: 20px;
}

ul li, ol li {
    margin-bottom: 5px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
